$colorblack:#333333;
$colorwhite:#ffffff;
$colordarkgreen:#34A0A4CC;
$colorlightblue:#C3E7ED80;
$colorlightgrey:#ABC6D180;
$colorbeige:#D6B58FDE;
$colorblue:#468FAF80;
$colordarkblue:#013A63;
$lineheight:1.3;